﻿<%@ Page Title="Home Page" Language="VB" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.vb" Inherits="CarWeb._Default" %>
<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
   
    <div class="jumbotron">
        <p class="lead">Sell a car or truckbullet
            A fast and easy sales system
            Receive offers from buyersbullet
            E-mails are sent to your inbox.
            Your stock on 40 websitesbullet
            For € 19,99 your complete stock online..</p>
        <p><a href="http://www.asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>  Buy your car on Exportcar.com</h2>
            <p>     
            For more than 10 years ExportCar is the leading website for importing and exporting cars and parts worldwide. Why buy a car in a local dealerstore, when you can get it cheaper elsewhere.

            Thousands of people have used ExportCar.com for buying their cars and they saved thousands of dollars on their car.

            Our dealers are specialized in exporting your desired car to your part of the world
            </p>
        </div>
        <div class="col-md-4">
            <h2>  Sell your car for the best price.</h2>
            <p>     
           Do you want to sell your car and want to get the best price for it? Try ExportCar.com Because the car you want to sell might have a higher value abroad.

            And when you advertize your car with ExportCar.com you immediately get your car advertized on more than 40 other websites all over the world.
            </p>
        </div>
    </div>
</asp:Content>