
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden] {
	display: none
}

html {
	background: #fff;
	color: #000;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

html,
button,
input,
select,
textarea {
	font-family: sans-serif
}

body {
	margin: 0
}

a:focus {
	outline: thin dotted
}

a:active,
a:hover {
	outline: 0
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0
}

h3 {
	font-size: 1.17em;
	margin: 1em 0
}

h4 {
	font-size: 1em;
	margin: 1.33em 0
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: bold
}

blockquote {
	margin: 1em 40px
}

dfn {
	font-style: italic
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

mark {
	background: #ff0;
	color: #000
}

p,
pre {
	margin: 1em 0
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: none
}

q:before,
q:after {
	content: '';
	content: none
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

dl,
menu,
ol,
ul {
	margin: 1em 0
}

dd {
	margin: 0 0 0 40px
}

menu,
ol,
ul {
	padding: 0 0 0 40px
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 0
}

form {
	margin: 0
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}

button,
input {
	line-height: normal
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible
}

button[disabled],
html input[disabled] {
	cursor: default
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

html,
button,
input,
select,
textarea {
	color: #222
}

html {
	font-family: sans-serif;
	color: #666;
	font-size: 1em;
	line-height: 1.4
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none
}

::selection {
	background: #b3d4fc;
	text-shadow: none
}

@-ms-viewport {
	width: device-width
}

@viewport {
	width: device-width
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

img {
	vertical-align: middle
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0
}

textarea {
	resize: vertical;
	max-width: 98%
}

input[type="text"] {
	max-width: 98%;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

img.max-90 {
	max-width: 90%
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0
}

.wrapper {
	width: 100%;
	max-width: 70em;
	margin: auto;
	border: none;
	background: transparent
}

.main,
.sidebar,
.sidebar2,
.sidebar-collapse {
	display: block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.half_column_left,
.half_column_right {
	max-width: 100%;
	overflow: hidden;
	overflow-x: auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: .6em
}

.half_column_left p,
.half_column_right p,
.normal-whitespace {
	white-space: normal
}

h2.title,
h1.title {
	background: #4987C5 url('../Images/c_bar_primary.gif');
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	margin: 0;
	padding: .3em;
	vertical-align: middle
}

h1.title {
	background: #7CA93A url('../Images/c_bar_secondary.gif')
}

h1.subtitle {
	background: #eaeaea;
	font-size: .88rem;
	font-weight: bold;
	margin: .1em 0;
	padding: .32em 0 .32em .2em;
	border-top: thin solid #ddd;
	border-bottom: thin solid #ddd
}

.my_account_links_inactive h1.subtitle {
	margin: 0
}

h2.title a,
h2.title a:visited {
	color: #fff;
	text-decoration: none
}

h2.title a:hover {
	text-decoration: underline
}

.page_instructions {
	color: #666;
	margin: .6em .3em 1em .3em;
	padding: 0;
	font-size: .75rem;
	line-height: 1.1em
}

.help-popup .page_instructions {
	max-width: 25em;
	height: 18em;
	overflow: auto
}

.price {
	color: #7CA93A
}

a {
	color: #666
}

.section-collapser {
	cursor: pointer
}

.content_box {
	max-width: 100%;
	overflow: auto;
	text-overflow: ellipsis;
	margin-bottom: .6em
}

.section-collapser:after {
	content: '+'
}

.section-collapser-expanded:after {
	content: ' -'
}

.section-collapser+div {
	max-height: 1px;
	overflow: hidden;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out
}

.section-collapser+div.expand {
	max-height: 5000px
}

.icon-link {
	margin: .31em;
	white-space: nowrap;
	font-size: 1rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.icon-link img {
	border: thin solid #D5DCE1;
	border-radius: .31em 0 0 .31em;
	background-color: #D5DCE1;
	float: left
}

.icon-link a {
	display: block;
	margin-left: 1.7em;
	height: 1.5em;
	border: thin solid #D5DCE1;
	background-color: #F9FAFB;
	border-radius: 0 .31em .31em 0;
	padding: 0 .31em;
	text-decoration: none
}

.icon-link a:hover {
	text-decoration: underline
}

.listing-prev-next-links {
	display: none
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin: 1em
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

ul.info {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%
}

ul.info li {
	list-style: none outside none;
	padding: .3em 0 .3em 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis
}

ul.info li.label {
	display: block;
	width: 9.3em;
	max-width: 40%;
	clear: both;
	color: #737373;
	font-size: .75rem
}

ul.info li.value {
	display: block;
	width: 14em;
	max-width: 60%;
	color: #777;
	font-size: .75rem
}

ul.info li.price {
	font-size: 1rem;
	padding: .6em 0 .6em .6em
}

.field_label.spacer {
	display: none
}

@media only screen and (min-width: 52em) {
	.main,
	.sidebar,
	.sidebar2 {
		position: relative;
		padding: .2em
	}
	.two-column .main {
		float: left;
		left: 30%;
		width: 70%;
		padding: 0 .5em
	}
	.two-column .sidebar {
		float: left;
		left: -70%;
		width: 30%
	}
	.half_column_left {
		width: 50%;
		float: left
	}
	.half_column_right {
		padding-left: 10px
	}
	.login {
		width: 75%;
		margin: auto;
		margin-top: 2em
	}
	.sidebar-collapse {
		float: left;
		max-width: 20%
	}
	#content_column_wide {
		overflow: hidden;
		padding-left: .7em
	}
	.section-collapser {
		cursor: auto
	}
	.section-collapser:after {
		content: ''
	}
	.section-collapser-expanded:after {
		content: ''
	}
	.section-collapser+div {
		max-height: none
	}
	.section-collapser+div.expand {
		max-height: none
	}
	.showcase h1.title {
		padding-top: 0;
		height: 2.5em;
		white-space: nowrap;
		margin: 0 -.7em -2em -1.25em;
		z-index: 5;
		line-height: 1.5em;
		text-shadow: 0 .2em .2em #666
	}
	.content_box {
		max-width: none;
		overflow: visible
	}
	h2.title,
	h1.title {
		border-radius: .3em
	}
}

@media only screen and (min-width: 59em) {
	.three-column .main {
		float: left;
		left: 20%;
		width: 60%
	}
	.three-column .sidebar {
		float: left;
		left: -60%;
		width: 20%
	}
	.three-column .sidebar2 {
		width: 20%;
		float: right
	}
	.listing-prev-next-links {
		display: block;
		float: right;
		margin-bottom: .33em
	}
}

header.page {
	margin-top: 3em
}

.user-bar {
	text-align: right;
	float: right
}

.user-welcome {
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap
}

.fixed-nav {
	border-bottom: 1px solid gray;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba(220, 220, 240, 0.7);
	z-index: 20
}

.fixed-link {
	text-decoration: none;
	text-align: center;
	width: 2em;
	height: 2em;
	margin: auto 0;
	display: inline-block;
	background-image: url('../Images/menu.png');
	background-color: #DDE;
	overflow: hidden
}

.fixed-link:hover {
	background-color: #ddd
}

.fixed-nav .user {
	background-position: right;
	float: right
}

.fixed-link img {
	max-width: 100%;
	border: thin solid #888
}

.fixed-menu {
	width: 100%;
	max-width: 30em;
	overflow: hidden;
	display: none;
	text-overflow: ellipsis;
	max-height: 100%
}

.menu-link {
	display: block;
	padding: .5em;
	margin: .1em;
	background: #4987C5 url('../Images/nav_tab.gif') repeat-x top left;
	color: white;
	text-decoration: none;
	border-radius: .3em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.menu-link:hover {
	background: none;
	background-color: #356094
}

nav.extra-links {
	display: none
}

.user-bar img {
	border: thin solid black;
	margin: .5em .5em 0 0;
	vertical-align: bottom
}

.logo-box {
	position: relative;
	border: none;
	overflow: hidden;
	width: auto;
	vertical-align: baseline;
	margin: 0 auto .5em auto
}

.logo-box img {
	max-width: 100%
}

.slogan {
	padding-left: 2.5em;
	line-height: 0.875em;
	font-size: 0.875rem;
	color: #7E7E7E;
	font-style: italic;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis
}

@media only screen and (min-width: 50em) {
	.wrapper {
		position: relative
	}
	header.page {
		margin-top: 0;
		min-height: 6em
	}
	.fixed-nav {
		border-bottom: none;
		position: relative;
		font-size: .75rem;
		font-weight: bold;
		background-color: transparent;
		z-index: 1
	}
	.fixed-link {
		display: none
	}
	.fixed-menu {
		width: auto;
		display: inline-block
	}
	.page-bar {
		border: .4em solid #eaeaea;
		border-radius: 0 1.8em 1.8em 0;
		position: absolute;
		top: 2.7em;
		left: 0;
		z-index: 1;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding: 0 0 0 26em;
		background: #4987C5 url('../Images/search_bar.gif') repeat-x top left;
		text-align: center;
		max-width: 100%;
		width: 100%
	}
	.menu-link {
		display: inline
	}
	.page-bar .menu-link {
		display: inline-block;
		padding: 1em;
		margin: 0;
		background: #4987C5 url('../Images/nav_tab.gif') repeat-x top left;
		border-radius: 0;
		height: auto;
		min-width: 12%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		vertical-align: middle
	}
	.menu-link:hover {
		color: white;
		background: #356094 none
	}
	.page-bar .extra {
		display: none
	}
	nav.extra-links {
		display: block;
		float: right;
		position: relative;
		top: 1.2em;
		z-index: 1
	}
	nav.extra-links a {
		color: #818181;
		text-decoration: none;
		padding: .32em
	}
	nav.extra-links a:hover {
		color: #7CA93A;
		text-decoration: underline
	}
	.abs-space {
		height: 6.1em;
		clear: both
	}
	.user-bar {
		text-align: left;
		float: none;
		display: block;
		clear: both;
		padding: .5em .7em .85em;
		max-width: none
	}
	.user-welcome {
		display: inline
	}
	.user-links:before {
		content: "("
	}
	.user-links:after {
		content: ")"
	}
	.user-links .menu-link {
		background: none;
		padding: 0;
		margin: 0;
		color: #7CA93A;
		vertical-align: bottom
	}
	.user-links .menu-link:hover {
		text-decoration: underline
	}
	.user-links .menu-link:after {
		content: '|';
		padding: 0 .2em;
		color: #666
	}
	.user-links .menu-link:last-child:after {
		content: '';
		padding: 0
	}
	.logo-box {
		position: absolute;
		z-index: 2;
		background: transparent url('../Images/logo_bg.png') no-repeat top right;
		min-width: 350px;
		min-height: 97px;
		margin: 0
	}
	.logo-box .logo {
		line-height: 48px;
		font-size: 38px;
		text-shadow: 1px 1px 0 #EEE, 2px 2px 0 #CCC;
		color: #7E7E7E;
		font-style: italic
	}
	.logo-box .logo img {
		vertical-align: middle;
		border: none;
		padding: 0;
		margin: 0
	}
	.slogan {
		text-shadow: 1px 1px 0 #DDD
	}
	.field_label.spacer {
		display: inline-block
	}
}

footer.page {
	clear: both
}

nav.footer {
	border-top: 1px solid #CCC;
	margin: 1em 0 1em 0
}

nav.footer a {
	float: left;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-bottom: 1px solid #CCC;
	padding: 0.5em 0;
	text-decoration: none;
	color: #444;
	text-align: center
}

nav.footer a:nth-of-type(2n+1) {
	border-right: 1px solid #CCC
}

.disclaimer a {
	color: #7CA93A;
	text-decoration: none
}

.disclaimer a:hover {
	color: #7CA93A;
	text-decoration: underline
}

.blurb,
.disclaimer {
	padding: 0 .3em
}

@media only screen and (min-width: 37.5em) {
	nav.footer {
		border: 5px solid #EAEAEA;
		border-radius: 10px;
		background: url('../Images/footer_bar.gif') repeat-x scroll left top #4987C5;
		padding: 1.25em .9em
	}
	nav.footer a {
		width: 25%;
		color: #fff;
		font-weight: bold;
		text-align: left;
		border: none;
		padding: .37em 0;
		font-size: .75rem
	}
	nav.footer a:nth-of-type(2n+1) {
		border-right: none
	}
	nav.footer a:hover {
		text-decoration: underline
	}
	.disclaimer {
		font-size: .7rem;
		text-align: center
	}
}

@media only screen and (min-width: 54em) {
	footer.page {
		position: relative;
		font-weight: bold
	}
	footer.page:before {
		content: "";
		display: table;
		height: 10em;
		position: relative
	}
	nav.footer {
		position: absolute;
		padding-right: 35%;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box
	}
	.blurb {
		position: absolute;
		top: 0;
		right: 0;
		width: 35%;
		color: #fff;
		border-left: thin solid white;
		margin: 2.5em 0 0 0;
		padding: 0 1em 0 1.25em
	}
	.blurb h3 {
		font-size: .9rem;
		margin: 0;
		padding: 0 0 .31em
	}
	.blurb p {
		clear: both;
		line-height: 1.1em;
		margin: 0;
		padding: 0;
		font-size: .75rem
	}
	.blurb a {
		color: white
	}
	.blurb a:hover {
		color: white;
		text-decoration: none
	}
	.social-contacts {
		text-align: right;
		padding: .5em
	}
	.social-contacts a {
		opacity: .7;
		transition-duration: .6s
	}
	.social-contacts a:hover {
		opacity: 1
	}
}

a:hover,
h1.subtitle,
.highlight_links a,
.highlight_links a:visited,
.text_highlight,
footer.page .disclaimer h3,
footer.page .disclaimer h4,
#listing_categories li.element,
#listing_categories span.category_title,
div.category_column ul span.category_title,
.categories div a:hover,
ul.social_links li.element,
.row_header,
h1.listing_title,
h1.seller_username,
h1.seller_username a:link,
h1.seller_username a:visited,
.galleryBigImage p,
.full_image_item,
h1.print_title,
.lightUpBox_navigation,
.lightUpBox_description,
.title2,
h1.search_title {
	color: #4987C5
}

.highlight_links a.button,
.highlight_links a.button:visited,
a.button:hover {
	color: #fff
}

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%
}

.hidden {
	display: none;
	visibility: hidden
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}

.invisible {
	visibility: hidden
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.clearfix {
	*zoom: 1
}

.clear,
.clr {
	clear: both
}

.cntr,
.center {
	text-align: center
}

.center {
	padding: .6em
}

.alignright {
	float: right;
	padding-right: .32em
}

.nowrap {
	white-space: nowrap
}

.content_box.showcase {
	border-radius: 1em;
	border: .125em solid #eaeaea;
	box-shadow: 1px 2px 1px 1px #eee;
	margin-bottom: .625em;
	padding: .1em;
	background-color: white
}

.no-js .content_box.showcase .inner,
.no-cssgradients .content_box.showcase .inner {
	background: #F9FAFB url('../Images/showcase-top.png') repeat-x right -5px
}

.cssgradients .content_box.showcase .inner {
	background-image: -moz-linear-gradient(top, #ddd, #fff 50%);
	background-image: -webkit-linear-gradient(top, #ddd, #fff 50%);
	background-image: -ms-linear-gradient(top, #ddd, #fff 50%);
	background-image: -o-linear-gradient(top, #ddd, #fff 50%);
	background-image: linear-gradient(top, #ddd, #fff 50%)
}

.showcase .inner {
	padding: .6em .3em;
	border-radius: .9em;
	z-index: 2
}

.showcase h1.title {
	position: relative;
	background-repeat: no-repeat;
	background-position: top left;
	background-color: transparent;
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	font-weight: normal;
	background-image: url('../Images/showcase-ribbon.png')
}

.showcase h1.title:after {
	content: url('../Images/showcase-ribbon-right.png');
	position: absolute;
	right: 0px;
	top: 0px
}

.content_box.showcase .forsale {
	float: right;
	margin-top: -18px
}

.content_box.showcase .forsale_text {
	background: url('../Images/car_silhouette.png') no-repeat left top;
	width: 125px;
	color: black;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 32px;
	font-weight: bold;
	text-shadow: 2px 2px 0 #FFF;
	text-align: center;
	margin-top: -0.5em;
	margin-left: 0.5em
}

.showcase.search .inner {
	padding: .1em .2em;
	position: relative
}

.showcase h1.search_title {
	border: none;
	background: transparent;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	z-index: 10;
	margin: 0 1em
}

.search_fade_box {
	display: none
}

.zipbox {
	display: inline-block
}

.search_bullets {
	display: none
}

form.showcase {
	display: inline
}

.form-search {
	background-color: #eaf8fc;
	background-image: -moz-linear-gradient(#fff, #d4e8ec);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d4e8ec), color-stop(1, #fff));
	border-radius: 2.1em;
	border-width: 1px;
	border-style: solid;
	border-color: #c4d9df #a4c3ca #83afb7;
	width: 21.25em;
	max-width: 90%;
	height: 2.2em;
	padding: .6em;
	margin: .625em auto .625em;
	position: relative;
	z-index: 20;
	overflow: hidden;
	text-align: center;
	display: inline-block
}

form.showcase input.keyword {
	padding: 5px 9px;
	height: 2.8em;
	width: 98%;
	border: 1px solid #a4c3ca;
	background: #f1f1f1;
	border-radius: 50px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	font-weight: normal;
	font-size: .81rem;
	font-family: 'trebuchet MS', arial, helvetica
}

form.showcase input.keyword::-webkit-input-placeholder {
	color: #9c9c9c;
	font-style: italic
}

form.showcase input.keyword:-moz-placeholder {
	color: #9c9c9c;
	font-style: italic
}

form.showcase input.keyword::-moz-placeholder {
	color: #9c9c9c;
	font-style: italic
}

form.showcase input.keyword:-ms-input-placeholder {
	color: #9c9c9c;
	font-style: italic
}

.recent-listing-links {
	text-align: center;
	margin: 0 auto
}

.recent-listing-links a.button {
	display: block;
	margin: .1em auto;
	width: 80%;
	min-width: 5em
}

@media only screen and (min-width: 38em) {
	.form-search {
		max-width: 55%
	}
	.search_fade_box {
		display: block;
		background: url('../Images/showcase_img_fade.png') no-repeat right top;
		background-size: 100%;
		width: 35%;
		height: 8.75em;
		margin-top: -.3em;
		margin-right: -.45em;
		float: right;
		overflow: visible
	}
	.search_bullets {
		display: block;
		margin-top: 9.3em;
		margin-left: 0;
		padding: 0 .1em .1em;
		text-align: center
	}
	.search_bullets li {
		list-style: none;
		margin-bottom: .2em;
		text-align: left
	}
	.search_bullets li a {
		display: block;
		width: 13em;
		max-width: 100%;
		padding: 0.25em 0.5em 0.25em 0.75em;
		border: thin solid #7CA93A;
		border-left: 0.5em solid #648D25;
		background-color: #7CA93A;
		text-decoration: none;
		border-radius: 0 .3em .3em 0;
		font-weight: bold;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
		transition-duration: 0.2s;
		color: #fff;
		margin: 0 auto;
		box-sizing: border-box;
		-moz-box-sizing: border-box
	}
	.search_bullets li a:hover {
		border: thin solid #648D25;
		border-left: 0.5em solid #648D25;
		background-color: #648D25
	}
	.recent-listing-links a.button {
		display: inline-block;
		margin: .1em auto;
		width: auto;
		min-width: 5em
	}
	.showcase h1.search_title {
		font-size: 1.75rem;
		line-height: 2.75em;
		text-shadow: .1em .1em 0 #FFF, .2em .2em 0 #CCC;
		white-space: nowrap
	}
	.form_search_divider {
		float: right;
		width: .13em;
		height: 10em;
		margin: 0 1em 0 0;
		background: url('../Images/showcase-search-divider.gif') repeat-y left top
	}
	.gj_image_fade {
		position: relative
	}
	.gj_image_fade div {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 8;
		width: 100%
	}
	.gj_image_fade div.active {
		z-index: 10
	}
	.gj_image_fade div.last_active {
		z-index: 9
	}
	.gj_image_fade img {
		max-width: 100%
	}
}

input.button-large {
	padding: 8px 13px;
	color: #FFF;
	font-weight: bold;
	font-size: 1.4rem;
	border-radius: .3em;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	transition-duration: 0.2s;
	cursor: pointer;
	margin-bottom: .2em;
	border: thin solid #648D25;
	background: #7CA93A
}

input.button-large:hover {
	background: #648D25;
	border: thin solid #4D4d4d
}

.button,
.button:visited,
.cancel,
.cancel:visited {
	border: thin solid #4174A6;
	background: #4987C5;
	border-radius: .3em;
	color: #FFF;
	text-shadow: 0 -.1em 0 rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 .1em 0 rgba(255, 255, 255, 0.4), 0 .1em .1em rgba(0, 0, 0, 0.2);
	padding: .5em .63em;
	font-weight: bold;
	font-size: .75rem;
	text-decoration: none;
	white-space: nowrap;
	display: inline-block;
	transition-duration: 0.2s
}

.button:hover {
	background: #356094;
	border: thin solid #555;
	text-decoration: none
}

.orange,
.orange:visited {
	border-color: #F58905;
	background: #F9961E;
	white-space: nowrap;
	font-size: 1.125rem;
	font-weight: bold;
	padding: .5em 1.5em
}

.orange:hover {
	background: #E48105;
	border-color: #D07504
}

.cancel,
.cancel:visited,
.mini_cancel,
.mini_cancel:visited {
	border-color: #CA0033;
	background: #EA003A
}

.cancel:hover,
.mini_cancel:hover {
	border-color: #B9002F;
	background: #CE0034;
	color: #FFF;
	text-decoration: none
}

.mini_button,
.mini_cancel {
	border: thin solid #cacbcc;
	background: #e2e4e9 url('../Images/button.gif') repeat-x center left;
	color: #666;
	padding: .2em .3em;
	font-weight: bold;
	font-size: .75rem;
	text-decoration: none;
	margin: 0 .1em;
	display: inline-block
}

.mini_cancel:hover {
	border: thin solid #e4a0a2;
	background: #f0b5b7 url('../Images/button_cancel.gif') repeat-x top left;
	color: #3c70ac;
	text-decoration: none
}

.mini_button:hover {
	border: thin solid #7CA93A;
	background: #EBF4DD url('../Images/button_hover.gif') repeat-x center left;
	color: #648D25;
	text-decoration: none
}

input.button,
input.cancel,
input.mini_button,
input.mini_cancel {
	font-family: Geneva, Arial, Helvetica, sans-serif
}

.breadcrumb {
	margin: .5em 0;
	padding: 0;
	list-style: none;
	background: #eee;
	border-width: thin;
	border-style: solid;
	border-color: #f5f5f5 #e5e5e5 #ccc;
	border-radius: .5em;
	box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.breadcrumb a,
.breadcrumb div {
	float: left;
	display: block;
	padding: .7em 1em .7em 2em;
	text-decoration: none;
	color: #666;
	position: relative;
	background-color: #ddd;
	background-image: linear-gradient(to right, #f5f5f5, #ddd);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	font-size: .75rem
}

.breadcrumb a,
.breadcrumb a:visited {
	color: #666
}

.breadcrumb a:hover {
	color: #4987C5
}

.breadcrumb a:first-child,
.breadcrumb div:first-child {
	padding-left: 1em;
	border-radius: .32em 0 0 .32em;
	border-left: none
}

.breadcrumb div:hover,
.breadcrumb a:hover {
	background: #fff
}

.breadcrumb a:after,
.breadcrumb div:after,
.breadcrumb a:before,
.breadcrumb div:before {
	content: " ";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1.1em solid;
	right: -1em
}

.breadcrumb a:after,
.breadcrumb div:after {
	z-index: 2;
	border-left-color: #ddd
}

.breadcrumb a:before,
.breadcrumb div:before {
	border-left-color: #ccc;
	right: -1.1em;
	z-index: 1
}

.breadcrumb a:hover:after,
.breadcrumb div:hover:after {
	border-left-color: #fff
}

.breadcrumb .active {
	font-weight: bold;
	background: none;
	color: #7CA93A
}

.breadcrumb .active:after {
	border-left-color: #eee
}

.breadcrumb a:last-child:after,
.breadcrumb div:last-child:after,
.breadcrumb a:last-child:before,
.breadcrumb div:last-child:before {
	content: normal
}

.breadcrumb a:last-child,
.breadcrumb div:last-child,
.breadcrumb a:last-child,
.breadcrumb div:last-child {
	background: none
}

.breadcrumb .highlight {
	color: #4174A6;
	font-weight: bold
}

.tabList {
	list-style: none;
	margin: .31em 0 0 .62em;
	padding: 0;
	z-index: 2;
	clear: both
}

.tabList li {
	background: #eaeaea;
	border: thin solid #d4d4d4;
	border-bottom: .31em solid #eaeaea;
	padding: .62em 1em .5em 1em;
	color: #818181;
	text-decoration: none;
	display: inline-block;
	margin: 0px 1px;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: -5px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px
}

.tabList li:hover {
	background: #4987C5 url('../Images/nav_tab.gif') repeat-x top left;
	border: 1px solid #4987C5;
	border-bottom: none;
	padding-bottom: 13px;
	color: #fff
}

.tabList li.activeTab {
	background: #fff;
	border: 2px solid #eaeaea;
	border-bottom: none;
	padding: 9px 14px 13px 14px;
	color: #4987C5
}

.tabContents {
	clear: both;
	border: 5px solid #eaeaea;
	padding: 5px;
	z-index: 1
}

@media only screen and (min-width: 34em) {
	.tabList {
		clear: none
	}
}

.my-account ul {
	margin: 0;
	padding: 0 0 .1em 0
}

.my-account ul li {
	list-style: none;
	text-align: left
}

.my-account ul li a,
.my-account ul li a:visited {
	display: block;
	padding: .63em .3em .63em 2.2em;
	font-size: .75rem;
	font-weight: bold;
	background: #fefefe url('../Images/bullet_list_arrow_1.gif') no-repeat left center;
	border-top: thin solid #fff;
	border-bottom: thin solid #f3f3f3;
	text-decoration: none;
	color: #666
}

.my-account ul li a:hover {
	display: block;
	background: #f3f3f3 url('../Images/bullet_list_arrow_2.gif') no-repeat left center;
	border-bottom: thin solid #e5e5e5;
	text-decoration: underline
}

.gjLightbox {
	border: .6em solid #eaeaea;
	background-color: white;
	border-radius: .32em;
	z-index: 2005;
	position: absolute;
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.gjLightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	width: 100%;
	z-index: 2004
}

.lightUpBox_imageBox {
	text-align: center
}

.lightUpBox_imageBox img {
	cursor: pointer
}

img.lightUpBigImage {
	cursor: pointer
}

.lightUpBox_navigation {
	position: absolute;
	top: .63em;
	right: .63em;
	padding: .31em;
	text-align: center;
	background-color: white;
	border: .31em solid #eaeaea;
	font-size: .75rem
}

.lightUpBox_description {
	text-align: center;
	padding: .44em .31em;
	background: #f7f7f7;
	font-size: .88rem;
	font-weight: bold
}

.lightUpMover,
.lightUpTitle {
	cursor: pointer
}

.closeBoxX {
	position: absolute;
	top: .31em;
	right: .31em;
	cursor: pointer;
	padding-top: .31em;
	padding-right: .31em;
	width: 1em;
	height: 1em;
	background: url('../Images/close.gif') no-repeat top left
}

.closeBoxX:hover {
	background: url('../Images/close.gif') no-repeat 1px 1px
}

.success_box {
	background: #E5F5DF;
	border: thin solid #A3C894;
	padding: .6em;
	margin: .6em;
	color: #5F6672;
	font-size: .75rem;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold
}

.ui-dialog .success_box {
	background: none;
	border: none
}

.success_box h1 {
	color: #17A400;
	font-size: 1.4rem;
	font-weight: normal;
	margin: .6em 0;
	padding: 0
}

.error_message {
	color: #980000;
	font-size: .75rem;
	font-weight: bold;
	padding: 0 .6em
}

.error_box {
	background: #FFFFE1;
	border: thin solid #A9AFD4;
	padding: .6em;
	color: #5F6672;
	font-size: .7rem;
	font-weight: bold;
	line-height: 1.1em;
	text-align: center
}

.field_error_box {
	background: #fceaed;
	border: thin solid #E68A9D;
	padding: .6em;
	color: #5F6672;
	font-size: .7rem;
	font-weight: bold;
	margin: .6em
}

.note_box {
	background: #ecf4ff;
	border: 1px solid #a9afd4;
	padding: .6em;
	color: #5f6672;
	font-size: .7rem;
	line-height: 1.1em;
	text-align: left;
	margin: .6em
}

.no_results_box {
	background: #ecf4ff;
	border: thin solid #a9afd4;
	padding: .6em;
	color: #5f6672;
	font-size: .7rem;
	line-height: 1.1em;
	font-weight: bold;
	text-align: center;
	margin: .6em
}

.content_box.showcase .no_results_box {
	margin-top: 2.5em
}

#messageBox {
	position: absolute;
	border: thin dashed blue;
	padding: .5em;
	background-color: white;
	left: 40%;
	width: 22em;
	max-width: 100%;
	z-index: 1001;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.closeMessage {
	cursor: pointer
}

.moveMessage {
	cursor: move;
	color: white;
	margin-right: .31em
}

.messageBoxButtons {
	float: right;
	margin-top: -.5em;
	opacity: 0.6
}

.ui-dialog {
	max-width: 95%
}

.ui-widget-content a.button,
.ui-widget-content a.button:visited,
.ui-widget-content a.cancel,
.ui-widget-content a.cancel:visited {
	color: #fff
}

#help_info_column {
	overflow: hidden
}

#help_info_column ul {
	margin: 0;
	padding: 0;
	float: left
}

#help_info_column ul li {
	list-style: none;
	padding: .3em .3em 0 .6em;
	float: left;
	font-weight: bold;
	display: block
}

#help_info_column li.left {
	clear: both;
	color: #737373;
	text-align: right
}

#help_info_column li.right {
	color: #777
}

.column_header {
	background: #4174A6 url('../Images/c_bar_primary.gif');
	height: 1.5em;
	color: #fff;
	font-size: .7rem;
	font-weight: bold;
	margin: 0;
	padding: .25em 0 0 .31em;
	white-space: nowrap
}

.column_header td {
	white-space: nowrap;
	padding: .2em .3em
}

.column_header td.title {
	width: 100%
}

.results_column_header {
	background: #eaeaea;
	height: 1.5em;
	color: #5f6672;
	font-size: .7rem;
	font-weight: bold;
	margin: 0;
	padding: .25em 0 0 .3em
}

.results_column_header td {
	white-space: nowrap;
	text-align: center;
	padding: .2em .3em
}

.results_column_header td.title {
	width: 100%;
	text-align: left
}

.results_column_header td.half {
	width: 50%
}

td.sorted_by {
	background-color: #FFFFC3
}

.checklist {
	margin: .31em .6em;
	padding: 0;
	font-size: .75em;
	color: #666
}

.checklist li {
	list-style: none;
	background: url('../Images/bullet_list_checkbox.png') no-repeat 0 .31em;
	padding: .3em .3em .3em 1em
}

.button_list {
	margin: .3em 0;
	padding: 0
}

.button_list li {
	list-style: none;
	display: inline;
	font-weight: normal;
	white-space: nowrap
}

.payment_options_list {
	margin: 0;
	padding: 0
}

.payment_options_list li {
	list-style: none;
	display: inline-block;
	width: 12em;
	font-weight: normal;
	white-space: nowrap
}

.option_list {
	margin: 0;
	padding: 0;
	font-size: .75rem
}

.option_list li {
	list-style: none;
	padding: 0;
	font-weight: bold
}

.option_list li a,
.option_list li a:visited {
	display: block;
	border-bottom: thin solid #eaeaea;
	padding: .3em
}

.option_list li a:hover {
	display: block;
	border-bottom: thin solid #eaeaea;
	background: #f4f3f3;
	padding: .3em
}

#checkbox ul {
	margin: .42em -.42em .42em .42em;
	padding: 0;
	font-size: .75rem;
	display: block;
	float: left
}

#checkbox ul li {
	list-style: none;
	background: url('../Images/bullet_list_checkbox.png') no-repeat 0 .42em;
	padding: .42em .42em .42em 1.25em
}

.multiselect {
	display: inline-block
}

.multiselect ul {
	margin: 0;
	padding: 0
}

.multiselect ul li {
	list-style: none;
	float: left;
	padding: 0 .625em 0 0
}

.multiselect .or_field {
	text-align: right
}

dl {
	width: 21.8em;
	max-width: 100%
}

dd {
	clear: right;
	margin: 0 0 1.25em 2.5em;
	font-size: 1rem;
	color: #666;
	font-family: Arial, Helvetica, sans-serif
}

dd.image {
	clear: none;
	float: left;
	margin: 0
}

dt {
	clear: left;
	float: right;
	width: 15.5em;
	max-width: 100%;
	overflow: auto;
	font-size: 1.25rem;
	font-weight: bold;
	color: #666;
	font-family: Arial, Helvetica, sans-serif
}

.title2 {
	font-size: 1.5rem;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif
}

.field_label,
.required {
	color: #666;
	padding: .1em .3em;
	width: 12.5em;
	max-width: 90%;
	clear: both;
	display: inline-block;
	font-weight: bold;
	font-size: .75rem;
	vertical-align: middle
}

.required {
	color: #4987C5
}

.login_label {
	color: #666;
	padding: .1em .3em;
	clear: both;
	display: inline-block;
	font-weight: bold;
	font-size: .75rem
}

.login_field {
	width: 8.6em
}

.form_field {
	font-size: .75rem;
	font-weight: bold;
	color: #666;
	padding: .25em
}

.field,
.editor_field {
	padding: .38em;
	background: #fff url('../Images/form_input.gif') repeat-x top left;
	border: thin solid #b9b9b9;
	color: #666;
	font-size: .75rem;
	font-weight: bold;
	margin: .25em;
	border-radius: .31em
}

.field:focus {
	border-width: .31em;
	margin: 0
}

select.field {
	display: inline-block
}

textarea.field {
	vertical-align: middle;
	width: 95%;
	height: 10em
}

select.field.browse_sort_dropdown {
	padding: 2px
}

select.field.browse_sort_dropdown:focus {
	padding: 2px
}

.usage_agreement {
	width: 900px;
	height: 200px
}

div.usage_agreement {
	overflow: scroll;
	border: 1px solid #b9b9b9
}

.inline {
	display: inline-block;
	padding: 0 5px;
	vertical-align: middle
}

.sub_note {
	color: #666;
	font-size: .7rem
}

.mini_note {
	color: #666;
	font-size: .57rem
}

.cost-option-box {
	float: left;
	border: thin solid #ddd;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	background-color: white;
	width: 24em;
	max-width: 90%;
	height: 13em;
	overflow: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.cost-options-group {
	min-width: 100%
}

.cost-option-group-label {
	cursor: move
}

.cost-option-combined-quantity-box {
	background-color: white;
	max-height: 20em;
	overflow: auto;
	display: inline-block;
	vertical-align: top;
	border: thin solid #ddd;
	border-radius: 1em
}

.cost-option-table thead tr {
	border-bottom: thin solid #000
}

.cost-option-table th {
	padding-right: 1em;
	white-space: nowrap
}

.cost-options-sort-icon {
	display: inline-block
}

.cost-options-combined-quantity-label {
	color: #aaa;
	font-style: italic;
	margin-left: 1em
}

.cost-options-combined-option-sep {
	font-weight: bold
}

.buyer-option-image-box {
	float: right;
	border: thin solid #ddd
}

.cart_item {
	border: .2em solid #eaeaea;
	padding: .2em .625em;
	margin: .3em;
	font-weight: bold;
	font-size: .75rem;
	background: #f7f7f7 url('../Images/cart_item_arrow_1.gif') no-repeat 2px center;
	color: #4987C5
}

.cart_item:hover {
	background: #ffffe1 url('../Images/cart_item_arrow_2.gif') no-repeat 2px center
}

.cart_item_child,
.cart_item_child_mini {
	border: thin solid #eaeaea;
	padding: .1em 1.25em;
	margin: .2em .31em .2em 3.1em;
	font-weight: bold;
	font-size: .75rem;
	color: #666
}

.cart_item_child_mini {
	padding: .2em .63em
}

.cart_item_child_mini ul {
	margin: 0;
	padding: 0
}

.cart_item_child_mini ul li {
	list-style: none;
	color: #aaa
}

.cart_item_child:hover {
	background: #ffffe1
}

.cart_item_subtotal {
	background: #f7f7f7;
	border: thin solid #eaeaea;
	padding: .1em .63em;
	margin: .31em .31em 1em 3.1em;
	font-weight: bold;
	font-size: .9rem;
	text-align: right
}

.subtotal_cart_item,
.tax_cart_item {
	border: thin solid #eaeaea;
	padding: .1em .63em;
	margin: .31em;
	font-weight: bold;
	font-size: 1rem;
	color: #666;
	text-align: right;
	width: 50%;
	float: right
}

.total_cart_item,
.total_order_item {
	background: #f7f7f7;
	border: thin solid #eaeaea;
	padding: .1em .63em;
	margin: .31em;
	font-weight: bold;
	font-size: 1rem;
	text-align: right;
	clear: both;
	width: 50%;
	float: right
}

.listing_extra_item,
.payment_item {
	border: thin solid #eaeaea;
	padding: .44em .63em;
	margin: .31em;
	font-weight: bold;
	font-size: .75rem;
	background: #f7f7f7;
	color: #666;
	display: block;
	vertical-align: middle
}

.listing_extra_item:hover,
.payment_item:hover {
	background: #ffffe1
}

.listing_extra_item_child {
	border: .1em solid #eaeaea;
	padding: .1em .63em;
	margin: .31em .31em 1em 3.1em;
	font-weight: bold;
	font-size: .9rem;
	text-align: right
}

.cart_item_cost,
.listing_extra_cost {
	float: right;
	text-align: right;
	padding: .2em 0
}

.cart_item_buttons {
	float: right;
	padding: 0 .63em
}

.cart_item_label {
	float: left;
	padding: .2em 0
}

.cart_item div.cart_item_label {
	padding-left: 1.56em
}

#addToCartButton {
	cursor: pointer
}

#cart_buttons {
	text-align: center;
	margin: .2em .2em .63em;
	border: thin solid #CECECE;
	padding: .63em;
	clear: both
}

#cart_buttons li {
	list-style: none;
	display: inline-block;
	max-width: 100%
}

#cart_buttons a {
	width: 20em;
	margin: .3em;
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.disabled {
	color: #ccc
}

.checkout_button {
	text-align: right;
	padding: .31em;
	clear: both
}

h2 a.show_instructions_button,
h2 a.show_instructions_button:visited {
	color: #666;
	border: thin solid #cacbcc;
	background: #e2e4e9 url('../Images/button.gif') repeat-x center left;
	padding: .2em .31em .1em .31em;
	font-weight: bold;
	font-size: .75rem;
	text-decoration: none;
	margin: 0 .1em;
	display: inline-block
}

#cart_left_column {
	width: 25em;
	max-width: 100%;
	float: left
}

#cart_right_column,
#cart_content_column {
	overflow: hidden;
	padding: 0 0 0 .63em
}

.combined_step_section {
	position: relative
}

.combined_loading_overlay {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 100
}

.combined_loading_overlay img {
	margin-top: 2.5em
}

iframe.listing_preview {
	width: 60em;
	max-width: 100%;
	height: 32em;
	overflow: auto;
	margin: 1em auto;
	border: dashed #777;
	border-radius: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.edit,
.delete,
.preview {
	border: thin solid #cacbcc;
	background: #e2e4e9 url('../Images/button.gif') repeat-x center left;
	color: #666;
	padding: .2em .3em;
	font-weight: bold;
	font-size: .75rem;
	text-decoration: none;
	display: block;
	float: left;
	margin: 0 .1em
}

.delete:hover {
	border: thin solid #e4a0a2;
	background: #f0b5b7 url('../Images/button_cancel.gif') repeat-x center left;
	color: #9e4144;
	text-decoration: none
}

.media-upload-dropbox {
	border: medium dashed #777;
	width: 98%;
	min-height: 4em;
	margin: 1em auto;
	padding: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.media-container {
	text-align: center;
	margin: 1em
}

.media-upload-dropbox {
	text-align: left
}

.media-preview {
	border: thin solid #777;
	margin: .5em;
	padding: .5em;
	border-radius: 1em;
	background: rgba(255, 255, 255, .7);
	overflow: auto;
	position: relative
}

.media-preview-image {
	border: thin solid black;
	margin: auto;
	min-height: 6.25em;
	min-width: 6.25em;
	text-align: center;
	overflow: hidden
}

.media-queue-progress {
	float: right
}

.media-queue-entry {
	border: thin solid #777;
	background-color: #eee;
	margin: .3em;
	padding: .5em;
	border-radius: .5em;
	font-size: .8em
}

.media-progress-circle {
	color: #87CEEB;
	background-color: #ddd;
	width: 80px;
	height: 20px;
	position: absolute;
	left: -1000px
}

.queue-thumb {
	float: left;
	margin: .2em;
	border: 1px solid #777;
	min-width: 50px;
	min-height: 50px
}

.media-editable-label {
	margin: .3em .1em;
	border: thin solid #ddd;
	padding: .2em;
	white-space: nowrap;
	overflow-x: auto;
	min-height: 1em
}

.media-editable-label:hover,
.media-editable-label:focus {
	background: rgba(255, 255, 153, 1);
	border: thin dashed #0090d2
}

.media-editable-saved {
	opacity: 0;
	transition-duration: 0.3s;
	position: absolute;
	bottom: .3em;
	left: 1em;
	background-color: white;
	border: thin solid #777;
	z-index: 5
}

.media-editable-saved-show {
	opacity: 1.0
}

.slot-label {
	cursor: move
}

.media-delete {
	display: block;
	position: absolute;
	top: -.1em;
	right: 0
}

.media-rotate {
	position: absolute;
	top: 0.1em;
	right: 2.0em
}

.media-runtime {
	position: absolute;
	top: .5em;
	right: 2em;
	font-size: .7rem;
	color: #999
}

div.offsite_video_slot {
	float: left;
	width: 15.625em;
	border: thick solid #EAEAEA;
	margin: .31em;
	padding: .31em .31em .75em .31em;
	background: white
}

div.offsite_video_box_title,
div.offsite_video_box_title_empty,
div.offsite_video_box_title_editing {
	border: none;
	background-color: #4174a6;
	color: white;
	padding: .33em 0 0 .42em;
	margin: -.42em -.42em .33em -.42em;
	height: 2em;
	font-size: .75rem;
	font-weight: bold
}

div.offsite_video_box_title_empty {
	background-color: #eaeaea;
	color: #737373
}

div.offsite_video_box_title {
	background: #4174a6 url('../Images/c_bar_primary.gif');
	cursor: move
}

div.offsite_video_box_title_editing {
	background: #7ca93a url('../Images/c_bar_secondary.gif')
}

input.offsite_video_id_input {
	width: 14.375em
}

.offsite_video_box_title_buttons {
	float: right;
	margin-top: -.5em;
	opacity: 0.6
}

.offsite_video_box_title_buttons:hover {
	padding-top: .19em;
	opacity: 1
}

.delete_offsite_video {
	cursor: pointer
}

div.preview_offsite_video_box {
	width: 15em;
	height: 12.19em;
	background-color: #f7f7f7;
	border: thin solid #eaeaea;
	padding: 0
}

.offsite_video_slot_label,
.offsite_video_cost_label,
.offsite_video_id_label {
	font-weight: bold
}

.offsite_video_id_label.required {
	color: #4987C5
}

.offsite_video_slot_value,
.offsite_video_cost_value {}

.offsite_video_action_buttons {
	text-align: right;
	height: 1.25em;
	margin: .625em 0 .31em
}

div.offsite_video_loading_container {
	float: left
}

div#plopDropVideoHere {
	position: absolute;
	padding: .31em;
	margin: 0;
	white-space: nowrap;
	width: 15.31em;
	height: 10.94em;
	border: thin dashed gray;
	background-color: #DFDFDF;
	text-align: center;
	padding-top: 10em;
	font-weight: bold
}

@media only screen and (min-width: 25em) {
	.media-preview {
		float: left;
		width: 10em;
		height: 13em;
		overflow: auto;
		overflow-y: auto
	}
}

.pagination {
	margin: .6em .3em;
	padding: 0
}

.pagination li {
	color: #666;
	list-style: none;
	display: block;
	float: left;
	font-weight: bold;
	font-size: .75rem;
	margin: .2em
}

.pagination .current {
	color: #35629e;
	padding: .2em .375em;
	border-style: solid;
	border-width: thin;
	background: #b2cbe5
}

.pagination a,
.pagination a:visited {
	color: #666;
	padding: .2em .375em;
	border: thin solid #b9b9b9;
	background: #f7f7f7;
	font-weight: bold;
	font-size: .7rem;
	text-align: center;
	text-decoration: none;
	display: block;
	float: left
}

.pagination a:hover,
.pagination a:active {
	color: #648d25;
	border: thin solid #A3C894;
	background: #E5F5DF
}

.listing_title {
	padding: 0;
	margin: 1em 0;
	font-size: 1.25rem;
	font-weight: bold
}

.listing_title span {
	color: #4174a6;
	float: right;
	font-size: .875rem;
	padding: .25em 0 0 0
}

.seller_username {
	margin: .3em .1em;
	padding: 0;
	font-size: .75rem;
	font-weight: bold
}

.seller_username a,
.seller_username a:visited {
	font-size: .875rem
}

.extra-questions {
	width: 100%
}

.extra-questions td {
	padding: 0.3em
}

#extra_questions ul {
	margin: 0;
	padding: 0;
	color: #666
}

#extra_questions li {
	list-style: none;
	padding: .3em
}

#extra_questions div.label {
	width: 28%;
	display: inline-block;
	float: left;
	white-space: nowrap;
	font-weight: bold
}

#extra_questions div.data {
	width: 68%;
	display: inline-block
}

ul.optional_fields {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center
}

ul.optional_fields li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: .3em 0 .3em 1em;
	width: 21.6em;
	text-align: left
}

ul.optional_fields li label {
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
	width: 50%
}

h1.listing_title span.price {
	float: none;
	font-size: 0.8em
}

.content_box_1,
.content_box_2,
.content_box_3 {
	margin-bottom: .625em;
	border-style: solid;
	border-width: thin;
	min-height: 1.25em
}

.content_box_1 {
	border-color: #DDD;
	padding: .2em
}

.content_box_1 img {
	max-width: 100%
}

.content_box_1 .map-container img {
	max-width: none
}

.content_box_2 {
	background-color: #F9FAFB;
	border-color: #D5DCE1;
	padding: 0 .75em
}

.content_box_3 {
	background-color: #E9EDF0;
	border-color: #D5DCE1;
	padding: .1em .75em
}

.content_box_1 p,
.content_box_2 p,
.content_box_3 p {
	margin: .1em 0
}

.content_box_1 h3,
.content_box_2 h3,
.content_box_3 h3 {
	font-size: 1.2em;
	margin: 0 0 .75em
}

p.content_section {
	padding: .2em .5em;
	border-bottom: thin solid #EAEAEA
}

.listing_maincol .content_box_1 {
	padding: .3em .75em
}

.listing_maincol .content_box_3 {
	padding: .3em 0
}

.bid_box {
	text-align: center;
	background-image: url('../Images/bg_fade.png');
	background-repeat: repeat-x;
	background-position: top;
	background-color: #FFF2B7;
	border: thin solid #FFE982;
	border-radius: .75em;
	padding: .625em;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.bid_amount,
.bid_button {
	display: inline-block;
	min-height: 2.5em;
	vertical-align: middle
}

.bid_amount {
	max-width: 60%
}

.bid_button {
	max-width: 40%;
	text-align: left;
	padding-left: 2em
}

.bid_box_note {
	background-color: #FBFBFB;
	border: thin solid #DDD;
	border-radius: .5em;
	margin-top: .3em;
	font-size: .6rem;
	padding: .5em
}

h1.title.rounded_top,
h2.title.rounded_top,
h3.title.rounded_top,
.rounded_top {
	border-radius: .43em .43em 0 0;
	background: url('../Images/bg_fade.png') repeat-x left top;
	background-color: #E9EDF0;
	border: thin solid #D5DCE1;
	margin: 0 0 .1em 0;
	padding: .43em .6em .3em
}

h1.title.rounded_top,
h2.title.rounded_top,
h3.title.rounded_top {
	color: #333;
	font-size: 1.6rem;
	font-weight: bold;
	text-shadow: 1px 1px 0 #FFF, 2px 2px 0 #BBB
}

h2.title.rounded_top {
	font-size: 1.4rem
}

h3.title.rounded_top {
	font-size: 1.2rem
}

h1.title.rounded_top a,
h2.title.rounded_top a,
h3.title.rounded_top a {
	color: #111;
	text-decoration: underline;
	text-shadow: none
}

a.listing_tag {
	white-space: nowrap
}

.map-container {
	position: relative;
	width: 37em;
	height: 25em;
	max-width: 95%;
	margin: 0 auto
}

.galleryContainer {
	text-align: center;
	clear: both
}

.galleryThumbs {
	width: 100%;
	text-align: center
}

.galleryThumbs ul {
	list-style-type: none;
	margin: 1em;
	padding: 0
}

.galleryThumbs ul li {
	display: inline-block;
	margin: .2em
}

.galleryThumbs img.thumb {
	cursor: pointer
}

.galleryBigImage {
	margin: .6em auto;
	border: solid #eaeaea;
	display: inline-block;
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.galleryBigImage p,
.content_shell .galleryBigImage p {
	background: #f7f7f7;
	border-top: thin solid #ddd;
	font-size: .875rem;
	font-weight: bold;
	margin: 0;
	padding: .4em;
	text-align: center
}

.galleryBigImage img {
	border: none;
	max-width: 100%
}

.galleryBigImage img:hover {
	border: none
}

.filmstrip_outer {
	text-align: center
}

.filmstrip_container {
	clear: both;
	text-align: center;
	display: inline-block;
	border: thin solid #eaeaea;
	padding: .6em .6em 1.6em .6em;
	margin: .6em
}

div.filmstrip_container p.imageTitle {
	padding: .6em;
	margin: 0
}

.filmstrip_strip_container {
	overflow: hidden;
	padding: 0;
	position: relative;
	border: thin solid #eaeaea
}

.filmstrip_main {
	display: inline-block;
	float: left
}

.filmstrip_main_img {
	margin: 1em
}

.filmstrip_strip {
	white-space: nowrap;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: auto
}

.filmstrip_entry {
	padding: 0;
	display: inline-block;
	float: none;
	margin: 0;
	vertical-align: middle;
	cursor: pointer;
	margin: 0 0 0 .3em
}

.filmstrip_main_img img {
	border: solid white
}

.filmstrip_entry img {
	border: thin solid white
}

.filmstripLeftScrollButton {
	float: left;
	width: 1.375em;
	height: 6em;
	background: white url('../Images/filmstrip_scroll_left.png') no-repeat right top
}

.filmstripLeftScrollButton:hover {
	background: white url('../Images/filmstrip_scroll_left.png') no-repeat left top
}

.filmstripLeftScrollButton.no_hover {
	background: white url('../Images/filmstrip_scroll_left.png') no-repeat right top
}

.filmstripRightScrollButton {
	float: right;
	width: 1.375em;
	height: 6em;
	background: white url('../Images/filmstrip_scroll_right.png') no-repeat left top
}

.filmstripRightScrollButton:hover {
	background: white url('../Images/filmstrip_scroll_right.png') no-repeat right top
}

.filmstripRightScrollButton.no_hover {
	background: white url('../Images/filmstrip_scroll_right.png') no-repeat left top
}

div.offsite_videos_container {
	text-align: center;
	padding-bottom: 1.25em
}

.full_image_item {
	background: #f7f7f7;
	border: solid #eaeaea;
	font-size: .875rem;
	font-weight: bold;
	margin: .35em auto;
	padding: 0 0 .35em 0;
	text-align: center;
	display: inline-block
}

.full_image_item img {
	margin-bottom: .3em
}

.print_body {
	background: #fff;
	font-size: .9rem
}

.print_shell {
	width: 43.75em;
	margin: 0 auto
}

.print_top_text {
	padding: 2.2em 0 0 0;
	font-weight: bold;
	float: right
}

h1.print_title {
	background: #eaeaea;
	font-size: .875rem;
	font-weight: bold;
	margin: .1em 0;
	padding: .35em 0 .35em .2em;
	border-top: thin solid #999;
	border-bottom: thin solid #999
}

#print_photo_column {
	width: 15.625em;
	display: block;
	float: right;
	text-align: center
}

#print_photo_column img {
	border: thick solid #eaeaea;
	margin-bottom: .6em;
	max-width: 100%
}

#print_photo_column div {
	text-align: left
}

#print_listing_info_column {
	overflow: hidden;
	padding: 0 1em;
	font-size: .75rem
}

#print_listing_info_column ul {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%
}

#print_listing_info_column ul li {
	list-style: none;
	padding: .3em 0 .3em .6em
}

#print_listing_info_column li.label {
	display: block;
	width: 12.5em;
	float: left;
	clear: both;
	font-weight: bold;
	color: #737373
}

#print_listing_info_column li.value {
	display: block;
	width: 15.625em;
	float: left;
	color: #777;
	font-weight: bold
}

#print_listing_info_column li.price {
	font-size: 1rem;
	font-weight: bold;
	padding: .6em 0 .6em .6em
}

#print_listing_photos img {
	border: .3em solid #eaeaea
}

#print_extra_questions ul {
	margin: 0;
	padding: 0;
	color: #666
}

#print_extra_questions li {
	list-style: none;
	padding: .3em
}

#print_extra_questions div.label {
	width: 10.9em;
	display: inline-block;
	white-space: nowrap;
	font-weight: bold
}

#print_extra_questions div.data {
	width: 10em;
	display: inline-block
}

#print_optional_fields {
	margin: 0;
	padding: 0
}

#print_optional_fields li {
	list-style: none;
	padding: .3em
}

#print_optional_fields label {
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
	width: 10.9em
}

.print_half_column_left {
	width: 21.9em;
	float: left
}

.print_half_column_right {
	width: 21.56em;
	padding: 0 0 0 .3em;
	float: left
}

.category_column {
	float: left
}

.category_column ul {
	margin: 0;
	padding: 0
}

.category_column ul li.element {
	list-style: none;
	font-weight: bold;
	padding: .3em 0;
	margin: 0
}

.category_column ul li.element img {
	vertical-align: middle
}

.main_classified_navigation ul li.element {
	padding: .3em;
	background: #fefefe;
	border-top: thin solid #fff;
	border-bottom: thin solid #f3f3f3
}

.category_column ul.sub_categories li.element {
	font-weight: normal;
	padding: .2em;
	margin: 0 0 0 1.25em
}

#listing_categories {
	margin: 0;
	padding: 0
}

.priceplan_choose {
	display: inline-block;
	text-align: left;
	margin: 0;
	padding: 0
}

#listing_categories li.element,
.priceplan_choose li.element {
	list-style: none;
	font-size: .9rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
	display: inline-block
}

.priceplan_choose li.element {
	margin: .6em
}

#listing_categories li.clr {
	clear: both;
	list-style: none;
	height: 0;
	font-size: 0;
	line-height: 0
}

#listing_categories a,
#listing_categories a:visited,
.priceplan_choose label,
.priceplan_choose a {
	margin: 0;
	padding: .6em 0;
	display: inline-block;
	width: 100%;
	text-decoration: none
}

.priceplan_choose label,
.priceplan_choose a {
	padding: .6em
}

#listing_categories a:hover,
.priceplan_choose a:hover,
.priceplan_choose label:hover {
	text-decoration: none;
	background: #f7f7f7
}

#listing_categories span {
	padding: 0 .6em
}

span.category_title {
	font-weight: bold;
	font-size: 1rem
}

.category_column ul.sub_categories span.category_title {
	font-weight: normal;
	font-size: .75rem
}

p.category_description {
	margin: 0;
	padding: .1em 0 .1em 0;
	font-size: .7rem;
	color: #888;
	font-weight: normal
}

.categories div {
	font-size: .7rem;
	font-weight: bold
}

.categories div.element {
	float: left;
	padding: .25em 0 .25em .3em
}

.categories div a,
.categories div a:visited {
	font-weight: bold;
	padding: 0 .1em;
	color: #666;
	text-decoration: none
}

.categories div a:hover {
	text-decoration: underline
}

.sub_categories li.element a {
	text-decoration: none
}

.sub_categories li.element a:hover {
	text-decoration: underline
}

span.listing_counts {
	font-size: .8rem
}

.row_header {
	background: #eaeaea;
	font-size: .75rem;
	font-weight: bold;
	margin: .1em 0;
	padding: .4em;
	border-top: thin solid #ddd;
	border-bottom: thin solid #ddd;
	white-space: nowrap
}

.row_even,
.browsing_result_table_body_even,
.seller_result_table_body_even {
	padding: .6em .4em;
	background: #f7f7f7;
	font-size: .75rem;
	color: #666
}

.row_odd,
.browsing_result_table_body_odd,
.seller_result_table_body_odd {
	padding: .6em .4em;
	background: #fff;
	font-size: .75rem;
	color: #666
}

.row_even_highlight,
.browsing_result_table_body_even_bold,
.seller_result_table_body_even_bold {
	background: #ecf4ff;
	color: #666;
	font-weight: bold
}

.row_odd_highlight,
.browsing_result_table_body_odd_bold,
.seller_result_table_body_odd_bold {
	background: #dfeaf9;
	color: #666;
	font-weighT: bold
}

.row_even:hover,
.browsing_result_table_body_even:hover,
.seller_result_table_body_even:hover,
.row_odd:hover,
.browsing_result_table_body_odd:hover,
.seller_result_table_body_odd:hover,
.row_even_highlight:hover,
.browsing_result_table_body_even_bold:hover,
.seller_result_table_body_even_bold:hover,
.row_odd_highlight:hover,
.browsing_result_table_body_odd_bold:hover,
.seller_result_table_body_odd_bold:hover,
article.listing .article_inner:hover {
	background: #ffffe1
}

.row_even td,
.browsing_result_table_body_even td,
.seller_result_table_body_even td,
.row_odd td,
.browsing_result_table_body_odd td,
.seller_result_table_body_odd td,
.row_even_highlight td,
.browsing_result_table_body_even_bold td,
.seller_result_table_body_even_bold td,
.row_odd_highlight td,
.browsing_result_table_body_odd_bold td,
.seller_result_table_body_odd_bold td {
	padding: .3em
}

p.listing_results_description {
	color: #888;
	margin: .3em 0;
	padding: 0;
	font-size: .7rem
}

.field_error_row {
	background: #fceaed;
	border-top: thin solid #E68A9D;
	border-bottom: thin solid #E68A9D;
	padding: .6em .45em;
	margin: .1em 0;
	color: #5F6672;
	font-size: .7rem;
	font-weight: bold
}

.browse_mode_buttons {
	float: right;
	margin: .3em .3em 0 0
}

.view_mode_link {
	opacity: 0.4;
	margin-left: .3em
}

.view_mode_link img {
	vertical-align: middle
}

.browse_mode_buttons a:hover,
.browse_mode_buttons a.active {
	opacity: 1.0
}

.browse_mode_buttons .active {
	font-weight: bold
}

.listing_set.gallery {
	overflow: hidden;
	font-size: 0
}

.gj_simple_carousel .listing_set.gallery {
	white-space: nowrap
}

.listing_set.gallery .gallery_row {
	text-align: center;
	width: 100%
}

.listing_set.gallery .gallery_inner {
	position: relative;
	width: auto;
	text-align: center
}

.listing_set.gallery article {
	padding: 0;
	margin: 0;
	border: none;
	font-size: .75rem;
	display: inline-block;
	vertical-align: top
}

.listing_set.gallery .article_inner,
.listing_set.list article {
	border: solid #eaeaea;
	padding: .3em;
	margin: .3em;
	white-space: normal
}

.listing_set.gallery .article_inner {
	text-align: center;
	font-weight: bold
}

.listing_set.list .image {
	float: left;
	border: thin solid #eee;
	margin: 0 .3em .3em 0
}

.listing_set.gallery .image {
	float: none;
	border: none;
	margin: auto
}

.listing_set article p {
	margin: 0
}

.listing_set article h1 {
	margin: 0 0 .3em 0;
	display: inline;
	font-size: .9rem
}

.gj_simple_carousel .listing_set.gallery .gallery_row {
	vertical-align: top;
	display: inline-block
}

.listing_set.gallery .galleryScroll {
	text-align: center
}

.listing_set.gallery .galleryScroll img {
	cursor: pointer
}

.gallery_carousel_dot {
	font-size: 1.2rem;
	color: #9A9A9A
}

.gallery_carousel_dot_active {
	font-size: 1.3rem;
	color: #4987C5
}

.featured_items .listing_set article div.article_inner,
.featured_browsing .listing_set article div.article_inner {
	background: #fff url('../Images/featured_item.gif') repeat-x bottom left;
	padding: .1em;
	margin: .3em;
	border: .3em solid #eaeaea
}

.featured_items .listing_set article div.article_inner:hover {
	background: #ffffe1
}

.featured_items {
	width: 100%
}

.featured_items td.element {
	background: #fff url('../Images/featured_item.gif') repeat-x bottom left;
	border: .3em solid #eaeaea
}

.featured_items td.element:hover {
	background: #ffffe1
}

.featured_items span.featured_title {
	color: #888;
	font-size: .75rem;
	font-weight: bold;
	padding: .1em 0 .3em 0;
	margin: 0;
	display: block;
	width: 100%
}

.featured_items span.price {
	display: block;
	white-space: nowrap
}

.browsing_options_links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75rem;
	font-style: normal
}

.browsing_options_not_selected {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75rem;
	font-style: normal;
	font-weight: normal
}

.browsing_options_selected {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75rem;
	font-style: normal;
	font-weight: bold
}

.my_account_links_active {
	background-color: #eee
}

.my_account_links_inactive {
	background-color: #fff
}

.user_links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75rem;
	font-style: normal;
	font-weight: bold;
	color: #666;
	text-align: left
}

a.user_links {
	text-decoration: underline
}

.icon_links_ie_fix {
	text-decoration: none
}

.needs_attention {
	color: #F00
}

#search_box_1 {
	float: right
}

#search_box_1 ul {
	margin: 0;
	padding: 6px 5px 0 0
}

#search_box_1 ul li {
	list-style: none;
	display: inline
}

#search_box_1 input.keyword {
	width: 200px
}

.region_selector {
	display: inline-block
}

.region_label {
	width: auto
}

.region_scalar_name {
	height: 3.17em;
	margin-top: 1em;
	font-weight: bold;
	display: inline-block
}

.onlyRegionOnLevel,
.field_label.region_scalar_label,
.region_scalar_name,
select.field.onlyRegionOnLevel,
#breadcrumb li.onlyRegionOnLevel {
	display: none
}

.region_selector_placeholders_geoRegion_user_location_multiline {
	margin-left: 13.33em
}

.region_selector.region_selector_block {
	display: block
}

.columns-1,
.columns-2,
.columns-3,
.columns-4,
.columns-5,
.columns-6,
.columns-7,
.columns-8,
.columns-9,
.columns-10 {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

@media only screen and (min-width: 52em) {
	.columns-2 {
		width: 50%
	}
	.columns-3 {
		width: 33%
	}
	.columns-4 {
		width: 25%
	}
	.columns-5 {
		width: 20%
	}
	.columns-6 {
		width: 16%
	}
	.columns-7 {
		width: 14%
	}
	.columns-8 {
		width: 12.5%
	}
	.columns-9 {
		width: 11%
	}
	.columns-10 {
		width: 10%
	}
	.listing_set.gallery {
		white-space: nowrap
	}
}

.gj_simple_carousel .columns-2 {
	width: 50%
}

.gj_simple_carousel .columns-3 {
	width: 33%
}

.gj_simple_carousel .columns-4 {
	width: 25%
}

.gj_simple_carousel .columns-5 {
	width: 20%
}

.gj_simple_carousel .columns-6 {
	width: 16%
}

.gj_simple_carousel .columns-7 {
	width: 14%
}

.gj_simple_carousel .columns-8 {
	width: 12.5%
}

.gj_simple_carousel .columns-9 {
	width: 11%
}

.gj_simple_carousel .columns-10 {
	width: 10%
}

@media print {
	* {
		background: transparent;
		color: #000;
		box-shadow: none;
		text-shadow: none
	}
	a,
	a:visited {
		text-decoration: underline
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid
	}
	thead {
		display: table-header-group
	}
	tr,
	img {
		page-break-inside: avoid
	}
	img {
		max-width: 100%
	}
	@page {
		margin: 0.5cm
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3
	}
	h2,
	h3 {
		page-break-after: avoid
	}
}

#blog-posts ul {
	margin: 0;
	padding: 0
}

#blog-posts ul li {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 11px
}

#blog-posts h1 {
	font-size: 11px;
	margin: 0;
	padding: 5px 5px 0 5px
}

#blog-posts p {
	font-size: 11px;
	margin: 0;
	padding: 5px 5px 0 5px
}

#blog-posts p.posted_time {
	font-size: 10px;
	color: #979797;
	margin: 0;
	padding: 0 5px 5px 5px
}

#blog-posts div.follow {
	background: #eaeaea;
	height: 24px;
	color: #5f6672;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	margin: 10px 0 0 0;
	padding: 10px 0 0 3px;
	text-align: center
}

div.geographic_navigation_column {
	float: left
}

div.geographic_navigation_column ul {
	margin: 0;
	padding: .3em
}

div.geographic_navigation_column ul li.element {
	list-style: none;
	font-weight: bold;
	font-size: .75rem;
	padding: .3em 0;
	margin: 0
}

table.geographic_navigation_column {
	width: 100%
}

table.geographic_navigation_column td.element {
	font-weight: bold
}

.geographic_navigation_column ul.sub_regions li.element {
	list-style: circle;
	font-weight: normal;
	padding: 0;
	margin: 0 0 0 1.25em
}

#geoNavChangeBox {
	border: thin solid #666;
	background-color: white;
	padding: 1em;
	display: inline-block;
	z-index: 50
}

.narrowRegionLevel {
	float: left;
	padding: .625em;
	border-right: thin solid #a5a5a5
}

.narrowRegionLink {
	cursor: pointer
}

.narrowRegionLink:hover {
	text-decoration: underline
}

.selectedRegion {
	font-weight: bold;
	color: #7CA93A
}

.narrowRegionSelect {
	list-style: none;
	margin: 0;
	padding: 0
}

.geographic_navigation_changeLink {
	cursor: pointer
}

.category_navigation_box {
	max-height: 25em;
	overflow: auto
}

.fb_button_simple,
.fb_button_simple_rtl {
	background-image: url(https://www.facebook.com/images/connect_favicon.png);
	background-repeat: no-repeat;
	cursor: pointer;
	outline: none;
	text-decoration: none
}

.fb_button_simple_rtl {
	background-position: right 0px
}

.fb_button_simple .fb_button_text {
	margin: 0 0 0px 20px;
	padding-bottom: 1px
}

.fb_button_simple_rtl .fb_button_text {
	margin: 0px 10px 0px 0px
}

a.fb_button_simple:hover .fb_button_text,
a.fb_button_simple_rtl:hover .fb_button_text,
.fb_button_simple:hover .fb_button_text,
.fb_button_simple_rtl:hover .fb_button_text {
	text-decoration: underline
}

.fb_button,
.fb_button_rtl {
	background: #29447e url(https://www.facebook.com/images/connect_sprite.png);
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	padding: 0px 0px 0px 1px;
	text-decoration: none;
	outline: none
}

.fb_button .fb_button_text,
.fb_button_rtl .fb_button_text {
	background: #5f78ab url(https://www.facebook.com/images/connect_sprite.png);
	border-top: solid 1px #879ac0;
	border-bottom: solid 1px #1a356e;
	color: white;
	display: block;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	padding: 2px 6px 3px 6px;
	margin: 1px 1px 0px 21px;
	text-shadow: none
}

a.fb_button,
a.fb_button_rtl,
.fb_button,
.fb_button_rtl {
	text-decoration: none
}

a.fb_button:active .fb_button_text,
a.fb_button_rtl:active .fb_button_text,
.fb_button:active .fb_button_text,
.fb_button_rtl:active .fb_button_text {
	border-bottom: solid 1px #29447e;
	border-top: solid 1px #45619d;
	background: #4f6aa3;
	text-shadow: none
}

.fb_button_xlarge,
.fb_button_xlarge_rtl {
	background-position: left -60px;
	font-size: 24px;
	line-height: 30px
}

.fb_button_xlarge .fb_button_text {
	padding: 3px 8px 3px 12px;
	margin-left: 38px
}

a.fb_button_xlarge:active {
	background-position: left -99px
}

.fb_button_xlarge_rtl {
	background-position: right -268px
}

.fb_button_xlarge_rtl .fb_button_text {
	padding: 3px 8px 3px 12px;
	margin-right: 39px
}

a.fb_button_xlarge_rtl:active {
	background-position: right -307px
}

.fb_button_large,
.fb_button_large_rtl {
	background-position: left -138px;
	font-size: 13px;
	line-height: 16px
}

.fb_button_large .fb_button_text {
	margin-left: 24px;
	padding: 2px 6px 4px 6px
}

a.fb_button_large:active {
	background-position: left -163px
}

.fb_button_large_rtl {
	background-position: right -346px
}

.fb_button_large_rtl .fb_button_text {
	margin-right: 25px
}

a.fb_button_large_rtl:active {
	background-position: right -371px
}

.fb_button_medium,
.fb_button_medium_rtl {
	background-position: left -188px;
	font-size: 11px;
	line-height: 14px
}

a.fb_button_medium:active {
	background-position: left -210px
}

.fb_button_medium_rtl {
	background-position: right -396px
}

.fb_button_text_rtl,
.fb_button_medium_rtl .fb_button_text {
	padding: 2px 6px 3px 6px;
	margin-right: 22px
}

a.fb_button_medium_rtl:active {
	background-position: right -418px
}

.fb_button_small,
.fb_button_small_rtl {
	background-position: left -232px;
	font-size: 10px;
	line-height: 10px
}

.fb_button_small .fb_button_text {
	padding: 2px 6px 3px;
	margin-left: 17px
}

a.fb_button_small:active,
.fb_button_small:active {
	background-position: left -250px
}

.fb_button_small_rtl {
	background-position: right -440px
}

.fb_button_small_rtl .fb_button_text {
	padding: 2px 6px;
	margin-right: 18px
}

a.fb_button_small_rtl:active {
	background-position: right -458px
}

h2.title,
h1.title {
	background: #F9761D url('../Images/c_bar_primary.gif')
}

.menu-link {
	background: #F9761D url('../Images/nav_tab.gif') repeat-x top left
}

.menu-link:hover {
	background-color: #DD5B04
}

@media only screen and (min-width: 50em) {
	.page-bar {
		background: #F9761D url('../Images/search_bar.gif') repeat-x top left
	}
	.page-bar .menu-link {
		background: #F9761D url('../Images/nav_tab.gif') repeat-x top left
	}
	.menu-link:hover {
		background: #DD5B04 none
	}
}

@media only screen and (min-width: 37.5em) {
	nav.footer {
		background: url('../Images/footer_bar.gif') repeat-x scroll left top #F9761D
	}
}

a:hover,
h1.subtitle,
.highlight_links a,
.highlight_links a:visited,
.text_highlight,
footer.page .disclaimer h3,
footer.page .disclaimer h4,
#listing_categories li.element,
#listing_categories span.category_title,
div.category_column ul span.category_title,
.categories div a:hover,
ul.social_links li.element,
.row_header,
h1.listing_title,
h1.seller_username,
h1.seller_username a:link,
h1.seller_username a:visited,
.galleryBigImage p,
.full_image_item,
h1.print_title,
.lightUpBox_navigation,
.lightUpBox_description,
.title2,
h1.search_title {
	color: #F9761D
}

.button,
.button:visited,
.cancel,
.cancel:visited {
	border: thin solid #F46606;
	background: #F9761D
}

.button:hover {
	background: #DD5B04
}

.cancel,
.cancel:visited,
.mini_cancel,
.mini_cancel:visited {
	border-color: #CA0033;
	background: #EA003A
}

.cancel:hover,
.mini_cancel:hover {
	border-color: #B9002F;
	background: #CE0034
}

.breadcrumb a:hover {
	color: #F9761D
}

.breadcrumb .highlight {
	color: #F46606
}

.tabList li:hover {
	background: #F9761D url('../Images/nav_tab.gif') repeat-x top left;
	border: 1px solid #F9761D;
	border-bottom: none
}

.tabList li.activeTab {
	background: #fff;
	border: 2px solid #eaeaea;
	border-bottom: none;
	color: #F9761D
}

.my-account ul li a,
.my-account ul li a:visited {
	background: #fefefe url('../Images/bullet_list_arrow_1.gif') no-repeat left center
}

.my-account ul li a:hover {
	background: #f3f3f3 url('../Images/bullet_list_arrow_2.gif') no-repeat left center
}

.column_header {
	background: #F46606 url('../Images/c_bar_primary.gif')
}

.required {
	color: #F9761D
}

.cart_item {
	background: #f7f7f7 url('../Images/cart_item_arrow_1.gif') no-repeat 2px center;
	color: #F9761D
}

.cart_item:hover {
	background: #ffffe1 url('../Images/cart_item_arrow_2.gif') no-repeat 2px center
}

div.offsite_video_box_title {
	background: #4174a6 url('../images/backgrounds/c_bar_primary.html')
}

.offsite_video_id_label.required {
	color: #F9761D
}

.gallery_carousel_dot_active {
	color: #F9761D
}

h1.title {
	background: #F9761D url('../Images/c_bar_secondary.gif')
}

.price {
	color: #F9761D
}

@media only screen and (min-width: 50em) {
	nav.extra-links a:hover {
		color: #F9761D
	}
	.user-links .menu-link {
		color: #F9761D
	}
}

.disclaimer a {
	color: #F9761D
}

.disclaimer a:hover {
	color: #F9761D
}

.showcase h1.title {
	background-image: url('../Images/showcase-ribbon.png')
}

.showcase h1.title:after {
	content: url('../Images/showcase-ribbon-right.png')
}

@media only screen and (min-width: 38em) {
	.search_bullets li a {
		border: thin solid #F9761D;
		border-left: 0.5em solid #F46606;
		background-color: #F9761D
	}
	.search_bullets li a:hover {
		border: thin solid #F46606;
		border-left: 0.5em solid #F46606;
		background-color: #F46606
	}
}

input.button-large {
	border: thin solid #F46606;
	background: #F9761D
}

input.button-large:hover {
	background: #F46606
}

.mini_button:hover {
	border: thin solid #F9761D;
	background: #FEE2CF url('../Images/button_hover.gif') repeat-x center left;
	color: #F46606
}

.breadcrumb .active {
	color: #F9761D
}

.closeBoxX {
	background: url('../Images/close.gif') no-repeat top left
}

.closeBoxX:hover {
	background: url('../Images/close.gif') no-repeat 1px 1px
}

div.offsite_video_box_title_editing {
	background: #7ca93a url('../images/backgrounds/c_bar_secondary.html')
}

header.page .logo_box {
	background: transparent url('../Images/logo_bg.png') no-repeat top right
}

<br /><b>Warning</b> : Cannot modify header information - headers already sent by (output started at /home/exportco/domains/exportcar.com/public_html/classes/adodb/drivers/adodb-mysql.inc.php:424) in <b>/home/exportco/domains/exportcar.com/public_html/geo_templates/min.php</b>on line <b>181</b><br /><br /><b>Warning</b> : Cannot modify header information - headers already sent by (output started at /home/exportco/domains/exportcar.com/public_html/classes/adodb/drivers/adodb-mysql.inc.php:424) in <b>/home/exportco/domains/exportcar.com/public_html/geo_templates/min.php</b>on line <b>182</b><br /><br /><b>Warning</b> : Cannot modify header information - headers already sent by (output started at /home/exportco/domains/exportcar.com/public_html/classes/adodb/drivers/adodb-mysql.inc.php:424) in <b>/home/exportco/domains/exportcar.com/public_html/geo_templates/min.php</b>on line <b>183</b><br />
/* ON-FLY - LOADED */